@charset "utf-8";
@font-face {
	font-family: wintermu;
	src: url(../fonts/wintermu.TTF);
	font-weight: bold;
}
@font-face {
	font-family: dustismo;
	src: url(../fonts/dustismo.TTF);
	font-weight: bold;
}
body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, sans-serif;
	background-color: #e4e4e4;
}
#page, nav {
	max-width: 1210px;
	margin: 0 auto;
}
Header,Footer, nav {
	width: 1210px;
	height: 120px;
	background: #2c2c5c;
}
.subHeader {
	width: 1210px;
	height: 30px;
	background: #2c2c5c;
}
.logoTitle {
	width: 780px;
	height: 84px;
	padding-left: 430px;
}
.logoPlc, .logoHeder {
	background: url(../images/siteLogo3.png) no-repeat;
	height: 84px;
	width: 140px;
	float: left;
}
.logoHeder {
	height: 60px;
	background: none;
	width: 250px;
	color: #faa214;
	font-size: 2.5em;
	font-weight: bold;
	font-family: wintermu;
	padding: 24px 0 0 0;
	overflow: hidden;
}
.subtitle {
	float: left;
	color: #ccc9b4;
	font-size: 12px;
	font-family: dustismo;
}
.searchInfo, .subDetails, .subDetailsInfo, .fooSocialIcon {
	float: right;
	height: 26px;
	padding: 2px 4px 2px 6px;
	width: 240px;
	color: #fff;
}
.spLbl {
	padding: 2px 0px 0px 2px;
}
.mblLbl {
	padding: 9px 0px 0px 2px;
}
.subDetails, .subDetailsInfo, .fooSocialIcon {
	float: left;
	height: 22px;
	font-size: 10px;
	padding: 6px 4px 2px 12px;
	width: 114px;
	font-weight: bold;
}
.subDetailsInfo {
	width: 134px;
}
#searchKey {
	background: #2c2c5c;
	height: 25px;
	width: 150px;
	border: none;
	color: #fff;
}
nav {
	background: #000;
	height: 46px;
}
banner {
	height: 682px;
	width: 1210px;
}
/*Menu Code*/
div#menu {
	height: 46px;
	padding-left: 34%;
	background: #faa61b;
	width: auto;
}
div#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}
div#menu ul.menu {
	padding-right: 24px;
}
div#menu li {
	position: relative;
	margin: 0;
	padding: 0;
	display: block;
	float: left;
	z-index: 9;
	width: auto;
}
div#menu ul ul li {
	z-index: 9;
}
div#menu li div {
	list-style: none;
	float: left;
	position: absolute;
	z-index: 11;
	top: 39px;
	left: -18px;
	-left: 4px;
	visibility: hidden;
	width: 180px;
	margin: 0px 0 0 -4px;
	padding: 0;
	background: url(../images/submenu-top.png) no-repeat 0px 0;
	-background: url(../images/submenu-top.gif) no-repeat 0px 0;
}
div#menu ul ul {
	z-index: 12;
	width: 180px;
	padding: 0px 0px 12px 0px;
	-padding: 0px 0px 3px 0px;
	background: url(../images/submenu-bottom.png) no-repeat 0px bottom;
	-background: #E4E4E2 none;
	margin: 14px 0 0 0;
	-margin: 5px 0 0 0;
}
div#menu li:hover>div {
	visibility: visible;
}
div#menu a {
	position: relative;
	z-index: 10;
	height: 38px;
	display: block;
	float: left;
	line-height: 38px;
	text-decoration: none;
	white-space: nowrap;
	width: auto;
	padding-right: 5px;
	text-align: center;
}
div#menu span {
	margin-top: 2px;
	padding-left: 15px;
	color: #2c2c5c;
	font: normal 13px Tahoma;
	background: none;
	line-height: 38px;
	display: block;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 95% 0;
	text-align: center;
}
/* menu::level1 */
div#menu a {
	padding: 0 15px 0 0;
	line-height: 38px;
	height: 46px;
	_margin-right: 1px;
	background: none;
	font-weight: bold;
}
div#menu span {
	font-weight: bold;
}
div#menu .active {
	background: #2c2c5c;
	background-repeat: repeat-x;
}
.active span#Home {
	color: #FFF;
}
div#menu a:hover {
	background-image: url(../images/selected-sub.png);
	background-repeat: repeat-x;
	background-position: right -1px;
	-background: url(../images/selected-sub.gif) repeat-x right -1px;
}
div#menu li.current a, div#menu ul.menu>li:hover>a {
	background: #2c2c5c;
}
div#menu a:hover span {
	color: #fff;
}
div#menu ul.menu>li:hover>a span {
	color: #fff;
}
div#menu li {
}
div#menu li.last {
	background: none;
}
div#menu ul ul li {
	background-image: url(../images/sep-sub.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	margin: 0;
	padding: 0;
}
div#menu ul ul li:hover {
	background: #2c2c5d;
}
div#menu ul ul a {
	color: #000000;
	height: auto;
	float: none;
	display: block;
	line-height: 25px;
	font-size: 13px;
	z-index: -1;
	padding: 6px 0 6px 0px;
	white-space: normal;
	width: 166px;
	margin: 0 0px 0 13px;
	background: none;
}
div#menu ul ul a span {
	color: #000;
	padding: 0 3px;
	line-height: 25px;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
div#menu li.current ul a, div#menu li.current ul a span {
	background: none;
	color: #fff;
}
div#menu ul ul a:hover {
	background: none;
	color: #fff;
}
div#menu ul ul a:hover span {
	background: none;
	color: #fff;
}
div#menu ul ul a.parent {
	background: url(../images/submenu-pointer.png) no-repeat right top;
	-background: url(../images/submenu-pointer.gif) no-repeat right top;
	margin-right: -1px;
}
div#menu ul ul a.parent span {
	padding-right: 26px;
}
div#menu ul ul a.parent:hover {
	background: url(../images/submenu-pointer-hover.gif) no-repeat right top;
	-background: url(../images/submenu-pointer.gif) no-repeat right top;
}
div#menu ul ul a.parent:hover span {
}
div#menu ul ul span {
	margin-top: 0;
	text-align: left;
}
div#menu ul ul li.last {
	background: none;
}
div#menu ul ul li {
	width: 100%;
}
/* menu::level3 */

div#menu ul ul div {
	width: 180px;
	padding: 0;
	background: url(../images/subsubmenu-top1.png) no-repeat 0px 0;
	-background: url(../images/subsubmenu-top1.png) no-repeat 0px 0;
	margin: -32px 0 0 198px !important;
	margin: -32px 0 0 176px;
}
div#menu ul ul ul {
	padding: 11px 0px 9px 0px;
	margin: 20px 0 0 0;
}
div#menu ul ul div li {
	position: relative;
	top: -10px;
}
/* lava lamp */
div#menu li.back {
	background: url(../images/selected-sub.png) no-repeat 0 0;
	-background: url(../images/selected-sub.gif) no-repeat 0 0;
	width: 5px;
	height: 46px;
	z-index: 8;
	position: absolute;
	padding: 0;
	margin: 0px 0 0 0;
}
div#menu li.back .left {
	padding: 0;
	width: auto;
	background: url(../images/selected-sub.png) repeat-x right 0;
	-background: url(../images/selected-sub.gif) repeat-x right 0;
	height: 46px;
	margin: 0 0 0 5px;
	float: none;
	position: relative;
	top: 0;
	left: 0;
	visibility: visible;
}
/*footer*/
.fooSocialIcon {
	float:right;
	width:15px;
}
.chngClr{
	color:#FFF;
	text-decoration:none;
}